*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;;
	overflow-x: hidden;
}

header{
	background-color: #4169E1;
}

.header{
	max-width: 1140px;
	height: 100px;
	margin: auto;
	display: flex;
	align-items: center;
}

.logo{
	width: 100px;
}

.logoimg{
	width: 80px;
	height: 80px;
	background-color: #0000CD;
}

.menu{
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.menu ul,
.menu ul li{
	list-style: none;
}

.menu ul{
	display: flex;
}

.menu li a{
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	height: 100px;
	align-items: center;
	border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a{
	border-bottom: 5px solid #87CEFA;
}

.banner{
	height: calc(100vh - 100px);
	background-color: #333;
	background-image: url(../assets/images/bg.jpg);
	background-size: cover;
	background-position: bottom;
	overflow: hidden;
}

.banner .sliders{
	width: 1000vw;
	height: 100%;
}

.banner .slide{
	width: 100vw;
	height: 100%;
	display: inline-block;
	background-color: rgba(0,0,0,0.8);
}

.banner .slidearea{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #FFF;
}

.banner h1{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}

.banner h1 span{
	color: #b28756;
}

.banner h2{
	text-transform: uppercase;
	margin-top: 20px;
}

.button{
	display: inline-block;
	background-color: #b28756;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 30px;
	margin-top: 30px;
	border-radius: 20px;
}

.banner .sliders-pointers{
	width: 100vw;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-top: -50px;
	color: #FFF;
}

.banner .pointer{
	width: 15px;
	height: 15px;
	border: 2px solid #b28756;
	border-radius: 50%;
	margin: 0 0 5px 5px;
	cursor: pointer;
}

.banner .pointer.active{
	background-color: #b28756;
}

.default{
	padding: 50px 0;
}

.default .section-title,
.default .section-desc{
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}

.default .section-title{
	font-size: 20px;
}

.default .section-desc{
	font-size: 12px;
	color: #ccc;
	margin-top: 10px;
	margin-bottom: 40px;
}

.default .section-body{
	max-width: 1140px;
	margin: auto;
}

.default.ligth{
	background-color: #f7f7f7;
}

.default.ligth .section-title,
.default.ligth .section-body{
	color: #000;
}

.default.dark{
	background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body{
	color: white;
}

.icons{
	display: flex;
}

.icones{
	flex: 1;
	text-align: center;
	text-transform: uppercase;
	border-right: 1px solid gray;
}



/*
CSS DE AREAS ESPECIFICAS
*/

.section-aboutus{
	display: flex;
}

.section-aboutus--left{
	flex: 1;
}

.section-aboutus--rigth{
	width: 520px;
	text-align: center;
}

.section-aboutus--rigth img{
	width: 480px;
	box-shadow: 0px 5px 10px #333;
}

.section-projects{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-projects--filters{
	border: 1px solid #CCC;
	background-color: #EEE;
	border-radius: 30px;
	display: inline-block;
	padding: 0 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
	display: block;
}

.section-projects--filters li{
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	font-size: 13px;
	border-left: 1px solid #CCC;
	color: #555;
	border-bottom: 3px solid #EEE;
	cursor: pointer;
}

.section-projects--filters li:first-child{
	border-left: 0;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
	border-bottom: 3px solid #b28756;
}

.section-projects--photos{
	width: 100vw;
	max-width: 1140px;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section-projects--photo{
	width: 280px;
}

.section-projects--photoarea{
	margin: 10px;
	width: 260px;
	height: 160px;
}

.section-projects--photoarea img{
	width: inherit;
	height: inherit;
}

.section-projects--photoinfo{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	height: inherit;
	width: inherit;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #FFF;
}

.section-projects--photoinfo h5{
	font-size: 18px;
	font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
	display: flex;
}

.button{
	display: inline-block;
	background-color: #b28756;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 30px;
	margin-top: 30px;
	border-radius: 20px;
}

.bg-team{
	background-image: url('../assets/images/bg.jpg');
	background-size: cover;
	background-position: center;
	padding: 0;
}

.section-team-area{
	background-color: rgba(0,0,0,0.8);
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-team{
	overflow: hidden;
	max-width: 880px;
	margin: auto;
}

.section-team .sliders{
	width: 1000vw;
	height: 100%;
}

.section-team .slide{
	width: 280px;
	height: 100%;
	min-height: 300px;
	display: inline-block;
	background-color: #fff;
	margin-right: 20px;
}

.section-team .slidearea{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #000;
	padding: 30px;
}

.section-team-area .sliders-pointers{
	margin-top: 30px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-team-area .pointer{
	width: 15px;
	height: 15px;
	border: 2px solid #b28756;
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.section-team-area .pointer.active{
	background-color: #b28756;
}

.section-team--avatar{
	width: 150px;
	height: auto;
}

.section-team--name{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 17px;
	margin-top: 30px;
}

.section-team--role{
	font-size: 14px;
	color: #999;
	margin-top: 5px;
}

.section-team--social{
	display: flex;
	margin-top: 20px;
}

.section-team--social a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	background-color: #CCC;
	border-radius: 13px;
	margin-left: 10px;
}

.section-team--social a:hover{
	background-color: #b28756;
}